/* Root styling */
.root {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #012545;
    -fx-fill: #012545;
}

/* Button styling */
.button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #012545;
    -fx-border-color: #012545;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.button:hover {
    -fx-background-color: #012545;
    -fx-text-fill: #FFFFFF;
}

/* Text field styling */
.text-field {
    -fx-background-color: #012545;
    -fx-text-fill: #FFFFFF;
}

/* Text area styling */
.text-area {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #012545;
    -fx-border-color: #012545;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

Label {
    -fx-text-fill: #012545;
    /*-fx-border-color: #012545;
    -fx-border-radius: 10;
    -fx-border-width: 2;*/
}

Text {
    -fx-fill: #012545;
}
